.bodycontent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.photoIDLabel {
    padding-left: 10px;
}

.fonttype {
    font-family: obliqua,sans-serif;
    font-weight: 700;
    font-style: normal;
  }