.bodycontent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.agreecheckbox {
    margin-top: 32px;
}


.fonttype {
    font-family: obliqua,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.inputtypefont {
    font-family: obliqua, sans-serif;
    font-weight: 400;
    font-style: italic;
}