.bodyContent {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    

}

ion-button {
    margin-top: 20px;
}


.fonttype {
    font-family: obliqua,sans-serif;
    font-weight: 700;
    font-style: normal;
}