
<ion-content>
  

  <div class="bodyContent">

    <h2 class="fonttype">Select a Job Type</h2>

    <ion-button class="fonttype" expand="block" (click)="onSelectJobType('houselockedout')">
      House Locked out
    </ion-button>
    <ion-button class="fonttype" expand="block" (click)="onSelectJobType('carlockedout')">
      
      Car Locked out
    </ion-button>
    <ion-button class="fonttype" expand="block" (click)="onSelectJobType('caralllostkeys')">
      Car All Lost keys
    </ion-button>
    <ion-button class="fonttype" expand="block" (click)="onSelectJobType('sparecarkey')">
      Car Spare Key
    </ion-button>

  </div>

</ion-content>
