ion-fab {
    padding-bottom: 30px;
  }

  .fonttype {
    font-family: obliqua,sans-serif;
    font-weight: 700;
    font-style: normal;
  }

.headerLabel {
    text-align: center;
    padding-top: 20px;
}